@media (max-width: 1023px) {
  .main-container {
    margin-left: 0;
    margin-top: 82px;
    width: 100%;
  }

  .contacts-container {
    width: 100%;
    align-items: center;
}

.contacts-container::-webkit-scrollbar {
    width: 8px;
}

.sort-contacts {
    width: calc(100% - 70px);
}

.all-contacts {
    position: relative;
    width: 90%;
    padding: 24px 24px 150px 24px;
    left: 0;
}

.border-container {
    width: 100%;
}

.border-grey {
    width: 100%;
}

.contact {
    width: calc(100% - 48px);
    gap: 30px;
}

.add-contact-container {
    position: fixed;
    top: 758px;
    left: 85%;
    width: calc(56px - 12px);
    height: 56px;
}

.add-new-contact {
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;

}

.add-new-contact h4 {
   display: none;
}

.add-new-contact img {
    margin-left: 0px;
}
}


@media (max-width: 400px) { 
    .add-contact-container {
        left: 80%;
    }

    .contact-data {
        width: 150px;
    }
}