:root {
    --color_1: #2a3647;
    /* darkblue */
    --color_2: #f6f7f8;
    /* white */
    --color_3: #29abe2;
    /* lightblue */
    --color_4: #a8a8a8;
    /* gray */
    --color_5: #d1d1d1;
    /* lightgray */
    --color_6: #42526E;
    /* grayblue */

    --button-background-color: var(--color_1);
}

.color {
    --customized_darkblue: #2a3647;
    --customized_white: #f6f7f8;
    --customized_lightblue: #29abe2;
    --customized_gray: #a8a8a8;
    --customized_lightgray: #d1d1d1;
    --customized_grayblue: #42526E;
    --customized_lightred: #FF8190;
    --customized_red: #ff001f;
}

.button_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 2px solid purple;
    padding: 15px;
}

.help {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 25px;

}

.button_dark {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 48px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color_1);
    color: white;
    padding: 16px;
    content: "<div> hallo Welt</div>";
}

.button_dark div::after {
    content: "";
    width: 24px;
    height: 24px;
    /* background-image: ; */
    background-image: url("./assets/img/cancel.svg");
}

.button_dark:hover {
    background-color: var(--color_3);
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3);
}

.button_light {
    cursor: pointer;
    border-radius: 10px;
    height: 48px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--color_1);
    border: 1px solid var(--color_1);
    padding: 16px;
}

.button_light:hover {
    color: var(--color_3);
    border-color: var(--color_3);
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3);
}


.rad_8 {
    border-radius: 8px;
}

.text_w400 {
    font-weight: 400;
}

.text_s20 {
    font-size: 20px;
}

.text_s16 {
    font-size: 16px;
}

.pad_15_24 {
    padding: 15px 24px 15px 24px;
}

.pad_15_16 {
    padding: 15px 16px 15px 16px;
}

.pad_8_16 {
    padding: 8px 16px 8px 16px;
}

.pad_12_0 {
    padding: 12px 0px 12px 0px;
}

.fix_width {
    width: 352px;
}



/* .test {
    background-color: #29abe2;
    width: 100px;
    height: 100px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test div::after {
    color: transparent;
    content: "O";
    margin-left: 8px;
    width: 32px;
    height: 32px;
    background-image: url(./assets/img/cancel.svg);
    background-size: cover;
    background-repeat: no-repeat;
} */


/* versuch 2  */

/* 
.test {
    position: relative;
    background-color: #29abe2;
     padding: 25px;
}

.test div {
    position: relative;
    display: inline-block; 
}

.test div::after {
    content: ""; 
    position: absolute; 
    top: 25px; 
    left: calc(100% + 8px); 
    width: 32px;
    height: 32px;
    background-image: url(./assets/img/cancel.svg);
    background-size: cover;
}

versuch 3  */

.test {
    cursor: pointer;
    border-radius: 10px;
    height: 48px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--color_1);
    border: 1px solid var(--color_1);
    padding: 16px;
}

.test div {
    position: relative;
    display: flex;
    margin-right: 32px;
    white-space: nowrap;
}

.test div::after {
    content: ""; /* Inhalt hinzufügen */
    position: absolute; /* Positionierung relativ zum Elternelement */
    top: calc(50% - 12px); 
    left: calc(100% + 4px);
    width: 24px;
    height: 24px;
    background-image: url(./assets/img/iconoir_cancel.svg);
    background-size: cover;
    /* transform: translateY(-50%);  */
}


.test:hover{
    color: var(--color_3);
    border-color: var(--color_3);
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3);
}

.test:hover div::after{
    background-image: url(./assets/img/iconoir_cancel_blue.svg);
}

/* versuch 4 */

.add{
    cursor: pointer;
    border-radius: 10px;
    height: 48px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    color: var(--color_1);
    border: 1px solid var(--color_1);
    padding: 16px;
}

.add div{
    display: flex;
}

.add div::after{
    content: "";
    background-image: url(./assets/img/iconoir_cancel.svg);
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
    margin-left: 4px;
}

.add:hover{
    color: var(--color_3);
    border-color: var(--color_3);
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3);
}

.add:hover div::after{
    background-image: url(./assets/img/iconoir_cancel_blue.svg);
}