.navbar-container {
    height: 100vh;
    width: 232px;
    background-color: #2A3647;
}

.join_logo {
    width: 100px;
    height: 122px;
    margin-top: 64px;
}

.logo_container {
    display: flex;
    justify-content: center;
    height: 300px;
}

.menubar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menubar a {
    text-decoration: none;
    color: #FFFFFF;
}