@font-face {
    font-family: 'inter';
    src: url('/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

* {
    font-family: inter;
}

body {
    margin: 0;
    background-color: var(--color_2);
}

h1 {
    margin: 0;
}

.board-header-container {
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.board-header {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.title {
    margin-left: 64px;
}

.title h1 {
    font-size: 61px;
    font-weight: 700;
}

.board-header-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 88px;
}


.input-container {
    display: flex;
    align-items: center;
    width: 312px;
    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    border: solid #A8A8A8 1px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 32px;
    padding-left: 16px;
}

.search-container {
    display: flex;
    width: 48px;
    height: 32px;
    gap: 16px;
}

.search-seperator {
    height: 31px;
    border: solid #D1D1D1 1px;
}

.search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.search-icon-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 32px;
}

.input-box input {
    font-size: 20px;
    font-weight: 400;
    width: 232px;
    color: black;
    border: none;
    outline: none;
}

.input-box input::placeholder {
    color: #D1D1D1;
}

.addTask-btn {
    background-color: var(--color_1);
    width: 160px;
    height: 48px;
    border-radius: 10px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform;
}

.addTask-btn:hover {
    background-color: var(--color_3);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3);
    transform: translateX(-1px);
    transition: 100ms;
}

.addTask-btn p {
    margin: 0;
    color: #FFFFFF;
    font-family: inter;
    font-weight: 700;
    font-size: 21px;
}

.add-task-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: 4px;
}

.add-task-icon img {
    padding-bottom: 2px;
}

.section-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
}

.todo-section-add-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: solid var(--color_1) 2px;
    border-radius: 8px;
    cursor: pointer;
}

.section-title-container p {
    margin: 0;
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    color: var(--color_6);
}

.todo-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
    
}

.marginLeft64 {
    margin-left: 64px;
}

.marginRight64 {
    margin-right: 64px;
}

.column-container {
    display: flex;
    width: 100%;
    height: calc(100% - 232px);
    justify-content: space-between;
    overflow-y: auto;
}

.todo-column {
    width: 246px;
    height: 100%;
    margin-left: 64px;
    border-radius: 32px;
}

.progress-column {
    width: 246px;
    height: 100%;
    border-radius: 32px;
}

.await-column {
    width: 246px;
    height: 100%;
    border-radius: 32px;
}

.done-column {
    width: 246px;
    height: 100%;
    margin-right: 64px;
    border-radius: 32px;
}

.small-card-container {
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.08);
    margin-top: 16px;
    cursor: pointer;
}

.small-card-container p {
    margin: 0;
}

.category-container {
    display: inline-block;
    justify-content: center;
    background-color: var(--color_7);
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
}

.category-container p {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.small-card-title {
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    color: var(--color_1);
}

.small-card-text-container {
    margin-top: 24px;
}

.small-card-description {
    margin-top: 8px !important;
    font-family:  inter;
    font-weight: 400;
    font-size: 16px;
    color: var(--color_4);
}

.drag-area {
    background-color: rgba(0,0,0,0.1);
}