@font-face {
    font-family: 'inter';
    src: url('/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

* {
    font-family: inter;
}

body {
    margin: 0;
    background-color: var(--color_2);
}

h1 {
    margin: 0;
}

.board-header-container {
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.board-header {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.title {
    margin-left: 64px;
}

.title h1 {
    font-size: 61px;
    font-weight: 700;
}

.board-header-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 88px;
}


.input-container {
    display: flex;
    align-items: center;
    width: 312px;
    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    border: solid #A8A8A8 1px;
    background-color: #FFFFFF;
    margin-right: 32px;
}

.input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 32px;
    padding-left: 16px;
}

.search-container {
    display: flex;
    width: 48px;
    height: 32px;
    gap: 16px;
}

.search-seperator {
    height: 31px;
    border: solid #D1D1D1 1px;
}

.search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.search-icon-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 32px;
}

.input-box input {
    font-size: 20px;
    font-weight: 400;
    width: 232px;
    color: black;
    border: none;
    outline: none;
}

.input-box input::placeholder {
    color: #D1D1D1;
}

.addTask-btn {
    background-color: var(--color_1);
    width: 160px;
    height: 48px;
    border-radius: 10px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform;
}

.addTask-btn:hover {
    background-color: var(--color_3);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3);
    transform: translateX(-1px);
    transition: 100ms;
}

.addTask-btn p {
    margin: 0;
    color: #FFFFFF;
    font-family: inter;
    font-weight: 700;
    font-size: 21px;
}

.add-task-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-left: 4px;
}

.add-task-icon img {
    padding-bottom: 2px;
}

.section-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
}

.todo-section-add-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(/assets/img/addTask_board_lists_icon.svg);
}

.todo-section-add-icon:hover {
    background-image: url(/assets/img/addTask_board_lists_icon_blue.svg);
}

.section-title-container p {
    margin: 0;
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    color: var(--color_6);
}

.todo-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
    
}

.marginLeft64 {
    margin-left: 64px;
}

.marginRight64 {
    margin-right: 64px;
}

.column-container {
    display: flex;
    width: 100%;
    height: calc(100% - 232px);
    justify-content: space-between;
    flex: 1 1 auto;
}

.todo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 380px);
    margin-left: 48px;
    border-radius: 32px;
    overflow-y: auto;
    overflow-x: hidden;

}



.progress-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 380px);
    border-radius: 32px;
    overflow-y: auto;
    overflow-x: hidden;
 
}

.await-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 380px);
    border-radius: 32px;
    overflow-y: auto;
    overflow-x: hidden;

}

.done-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 380px);
    margin-right: 48px;
    border-radius: 32px;
    overflow-y: auto;
    overflow-x: hidden;

}

.small-card-container {
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    margin-top: 8px;
    cursor: pointer;
    margin-bottom: 16px;
    width: 214px;
}

.small-card-container p {
    margin: 0;
}

.category-container {
    display: inline-block;
    justify-content: center;
    background-color: var(--color_7);
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
}

.category-container p {
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.small-card-title {
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    color: var(--color_1);
}

.small-card-text-container {
    margin-top: 24px;
}

.small-card-description {
    margin-top: 8px !important;
    font-family:  inter;
    font-weight: 400;
    font-size: 16px;
    color: var(--color_4);
}

.drag-area {
    background-color: rgba(0,0,0,0.1);
}

.progress-bar {
    width: 64px;
    height: 8px;
    border-radius: 8px;
    background-color: var(--color_9);
    padding: 0 64px 0 0;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: var(--color_8);
    width: 0%;
}

.progress-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 220px;
    height: 16px;
    margin-top: 24px;
}

.progress-container p {
    font-family: inter;
    font-weight: 400;
    font-size: 12px;
}

.progress-txt-container {
    margin-left: 11px;
}

.circle {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: red;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:not(:first-child) {
    margin-left: -8px;
}

.initials {
    font-size: 12px;
    font-family: inter;
    font-weight: 400;
    color: white; 
}

.contacts-order {
    display: flex;
}

.contacts-prio-container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.empty-column-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 10px;
    background-color: var(--color_11);
    border: 1px dashed var(--color_4);
    margin-top: 16px;
    width: 246px;
}

.empty-column-container span {
    font-size: 16px;
    font-weight: 400;
    font-family: inter;
    color: var(--color_4);
}

/* add task section */

.moveable-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: 100ms;
}

.show-moveable {
    transform: translateX(0);
}

.remove-moveable {
    transform: translateX(100vw);
}

/* big card section */

.big-card-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: 100ms;
}

.big-card-container {
    display: flex;
    flex-direction: column;
    width: 445px;
    padding: 48px 40px 48px 40px;
    border-radius: 30px;
    background-color: #FFFFFF;
}

.big-card-category-container {
    display: inline-block;
    background-color: var(--color_7);
    border-radius: 8px;
    padding: 4px 24px 4px 24px;
}

.big-card-category-container p {
    font-family: inter;
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
    margin: 0;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.close-img-container {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
}

.close-img-container:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.story-container {
    background-color: var(--color_7);
}

.technical-container {
    background-color: var(--color_10);
}

.big-card-title {
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: 700;
    font-family: inter;
    font-size: 61px;
}

.big-card-description {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    font-family: inter;
}

.big-card-data-txt {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    color: var(--customized_darkblue);
    margin: 0;
}

.big-card-data {
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.big-card-date-container {
    margin-top: 24px;
    display: flex;
}

.big-card-prio-container {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.big-card-prio {
    display: flex;
    padding: 4px 18px 4px 18px;
    margin-left: 25px;
}

.big-card-prio p {
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.circle-big-card {
    width: 40px;
    height: 40px;
    border-radius: 32px;
    background-color: red;
    border: 1px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 9.5px;
}

.assigned-to-txt {
    font-family: inter;
    font-weight: 400;
    font-size: 19px;
}


.big-card-assigned-container {
    margin-top: 28px;
}

.big-card-assigned-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;

}

.big-card-one-assign {
    display: flex;
    align-items: center;
    padding: 7px 16px 7px 16px;

}

.big-card-subtasks-container {
    margin-top: 24px;
}

.big-card-one-subtask {
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 8px;
    padding: 6px 16px 6px 16px;
}

.big-card-one-subtask:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.big-card-subtasks {
    margin-top: 8px;
}

input[type="checkbox"] {
    display: none;
}

.checked {
    display: none;
}

input[type="checkbox"]:checked + .checkbox-label .checked {
    display: flex;
}

input[type="checkbox"]:checked + .checkbox-label .unchecked {
    display: none;
}

.checkbox-img {
    cursor: pointer;
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.checkbox-label:hover {
    background-color: var(--customized_lightgray);
    border-radius: 16px;
}

.subtasks-txt {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: inter;
}

.delete-img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.delete-icon {
    width: 16px;
    height: 18px;
    background-image: url(/assets/img/delete.svg);
}

.delete-edit-container {
    display: flex;
    height: 24px;
    margin-top: 24px;
}

.delete-txt {
    font-size: 16px;
    font-weight: 400;
    font-family: inter;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}

.delete-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.delete-container:hover {
    color: var(--customized_lightblue);
}

.delete-container:hover .delete-icon {
    background-image: url(/assets/img/delete_blue.svg);
}

.seperator-delete {
    height: 24px;
    width: 1px;
    background-color: var(--customized_lightgray);
    margin-left: 8px;
    margin-right: 8px;
}

.edit-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.edit-icon {
    width: 18.5px;
    height: 18.5px;
    background-image: url(/assets/img/edit_normal.svg);
}

.edit-container:hover {
    color: var(--customized_lightblue);
}

.edit-container:hover .edit-icon {
    background-image: url(/assets/img/edit_blue.svg);
}

.edit-img {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-txt {
    font-size: 16px;
    font-weight: 400;
    font-family: inter;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
}

.input-edit-cross {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 28px;
}


.input-title-field-section {
    height: 64px;
}

.edit-textarea {
    height: 120px;
    resize: none;
}

.big-card-edit {
    display: flex;
    flex-direction: column;
    width: 445px;
    padding: 48px 40px 48px 40px;
    border-radius: 30px;
    background-color: #FFFFFF;
    height: calc(100vh - 200px);
}

.edit-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.input-txt {
    font-size: 20px;
    font-weight: 400;
    font-family: inter;
    color: var(--customized_darkblue);
    margin-top: 28px;
    margin-bottom: 8px;
}

.input-title-section p{
    font-size: 20px;
    font-weight: 400;
    font-family: inter;
    color: var(--customized_darkblue);
    margin-top: 0;
    margin-bottom: 8px;
}

.input-title-field {
    width: 383px;
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
    font-size: 20px;
    font-weight: 400;
    font-family: inter;
    color: black;
    border: 1px solid var(--customized_lightgray);
}

.edit-task-btn-container {
    display: flex;
    justify-content: flex-end;
}

.edit-content::-webkit-scrollbar {
    width: 8px;
}

.edit-content::-webkit-scrollbar-track {
    background: var(--color_2);
    border-radius: 12px;
}

.edit-content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* add task confirmation section */

.add-task-confirmation-background {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 11;

}

.add-task-confirmation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 326px;
    height: 74px;
    border-radius: 20px;
    background-color: var(--customized_darkblue);
}

.add-task-confirmation-img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30.5px;
}

.add-task-confirmation-container p {
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 30.5px;
}

.add-task-input-container select {
    width: 430px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 12px 16px 12px 16px;
    font-size: 20px;
}

#taskFilterInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.popup {
    position: absolute;
    top: 45px;
    left: 0;
    color: var(--customized_red);
    padding: 5px;
    display: none;
    z-index: 10;
    font-size: 16px;
    font-family: inter;
    font-weight: 700;
}

.popup-progressbar {
    position: absolute;
    top: -30px; /* Passen Sie die Position nach Bedarf an */
    left: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    display: none;
    z-index: 10;
    border-radius: 4px;
    white-space: nowrap;
}

.progress-container:hover .popup-progressbar {
    display: block;
}

/* ====== Column Scrollbar ====== */

.todo-column::-webkit-scrollbar {
    width: 8px;
}

.todo-column::-webkit-scrollbar-track {
    background: var(--color_2);
    border-radius: 12px;
}

.todo-column::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.progress-column::-webkit-scrollbar {
    width: 8px;
}

.progress-column::-webkit-scrollbar-track {
    background: var(--color_2);
    border-radius: 12px;
}

.progress-column::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.await-column::-webkit-scrollbar {
    width: 8px;
}

.await-column::-webkit-scrollbar-track {
    background: var(--color_2);
    border-radius: 12px;
}

.await-column::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.done-column::-webkit-scrollbar {
    width: 8px;
}

.done-column::-webkit-scrollbar-track {
    background: var(--color_2);
    border-radius: 12px;
}

.done-column::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}