<div class="navbar-container">
    <div class="logo_container">
        <img class="join_logo" src="/assets/img/join_logo.svg" alt="Logo">
    </div>
    <div class="menubar">
        <div class="menubar-link-container">
            <li>
                <a href="#">
                    <div class="menubar-img-container">
                        <img src="/assets/img/summary_unselected_icon.svg" alt="summary_icon">
                    </div>
                    <p>Summary</p>
                </a>
            </li>
        </div>
        <li>
            <a href="#">
                <div class="menubar-img-container">
                    <img src="/assets/img/addTask_unselected_icon.svg" alt="addTask_icon">
                </div>
                <p>Add Task</p>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="menubar-img-container">
                    <img src="/assets/img/board_unselected_icon.svg" alt="board_icon">
                </div>
                <p>Board</p>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="menubar-img-container">
                    <img src="/assets/img/contacts_unselected_icon.svg" alt="contacts_icon">
                </div>
                <p>Contacts</p>
            </a>
        </li>
    </div>
</div>