<div class="navbar-container">
    <div class="logo_container">
        <img class="join_logo" src="/assets/img/join_logo.svg" alt="Logo">
    </div>
    <div class="menubar">
        <li onclick="selectMenu('summary')" id="summary-menu">
            <a href="/summary/summary.html">
                <div class="menubar-img-container">
                    <img src="/assets/img/summary_unselected_icon.svg" alt="summary_icon">
                </div>
                <p>Summary</p>
            </a>
        </li>
        <li onclick="selectMenu('addTask')" id="addTask-menu">
            <a href="/add_task/add_task.html">
                <div class="menubar-img-container">
                    <img src="/assets/img/addTask_unselected_icon.svg" alt="addTask_icon">
                </div>
                <p>Add Task</p>
            </a>
        </li>
        <li onclick="selectMenu('board')" id="board-menu">
            <a href="/board/board.html">
                <div class="menubar-img-container">
                    <img src="/assets/img/board_unselected_icon.svg" alt="board_icon">
                </div>
                <p>Board</p>
            </a>
        </li>
        <li onclick="selectMenu('contacts')" id="contacts-menu">
            <a href="/contacts/contacts.html">
                <div class="menubar-img-container">
                    <img src="/assets/img/contacts_unselected_icon.svg" alt="contacts_icon">
                </div>
                <p>Contacts</p>
            </a>
        </li>
    </div>

    <div class="navbar-privacy-container">
        <a href="/Legal_Folder/privacy_policy.html"><p>Privacy Policy</p></a>
        <a href="/Legal_Folder/legal_notice.html"><p>Legal notice</p></a>
    </div>
</div>