@font-face {
    font-family: 'inter';
    src: url('/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}


/* header-section */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: #FFFFFF;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inter;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
}

.header-txt-container {
    margin-left: 348px;
}

.header-txt-container p {
    font-size: 20px;
    font-weight: 400;
}

.header-icons {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.header-help-icon {
    margin-right: 22px;
    cursor: pointer;
}

.header-help-icon:hover {
    scale: 1.1;
}

.header-profile-icon {
    cursor: pointer;
}

.header-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
}