:root {
    --color_1: #2a3647;
    --color_2: #f6f7f8;
    --color_3: #29abe2;
    --color_4: #a8a8a8;
    --color_5: #d1d1d1;
    --color_6: #42526E;
    --color_7: #0038FF;
}

@font-face {
    font-family: 'inter';
    src: url('../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}


.main-container {
    position: fixed;
    top: 96px;
    left: 232px;
    bottom: 0;
    width: 1208px;
    height: 100%;
}